<div class="row">
	<div class="col-md-6 well">

		<!-- dropdown menu to filter posts by user -->
		<select class="form-control select-user" 
				(change)="selectUser({ userId: u.value })" #u>
			<option value="">Filter by User</option>
			<option *ngFor="#user of users"
					value="{{ user.id }}">{{ user.name }}</option>
		</select>

		<main-spinner [is-loading]="!posts"></main-spinner>

		<div *ngIf="posts">
			
			<paginate [items]="posts"
					  (page-changed)="changePage($event)"></paginate>

			<!-- list of posts -->
			<ul class="list-group">
				<li class="list-group-item post"
					[class.active]="singlePost == post"
				    *ngFor="#post of pagedPosts"
				    (click)="viewPost(post)">

<!-- <li *ngFor="let post of pagedPosts" class="list-group-item" [class.active]="currentPost == post" (click)="select(post)"> -->
				    <span>{{ post.title }}</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- single post when selected from list of all posts -->
	<div class="col-md-6">
		<div class="panel panel-default" *ngIf="singlePost">
  			<div class="panel-heading">
					{{ singlePost.title }}
				</div>
  			<div class="panel-body">
    			{{ singlePost.body }}
  			</div>
		</div>

		<!-- comments for the single post -->
		<main-spinner [is-loading]="commentsLoading"></main-spinner>
		<div class="media"
			 *ngFor="#comment of singlePostComments"
			 *ngIf="comment">
			<div class="media-left">
				<img class="media-object" 
					 src="http://lorempixel.com/80/80/people?random={{comment.id}}" 
					 alt="random image via lorempixel.com">
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ comment.name }}</h4>
				{{ comment.body }}
			</div>
		</div>
	</div>
</div>