
<div class="row">
    <div class="col-md-6 well">
		<form [ngFormModel]="form" (submit)="onSubmit()">
			<fieldset>
				<legend>
					User
				</legend>

				<div class="form-group">
					<label for="name">
						Name
					</label>
					<input type="text"
						   class="form-control"
						   id="name"
						   ngControl="name" />

					<div *ngIf="form.controls['name'].touched && form.controls['name'].errors">
						<div class="alert alert-danger"
							 *ngIf="form.controls['name'].errors.required">
							Name field required
						</div>
						<div class="alert alert-danger"
							 *ngIf="form.controls['name'].errors.containSpace">
							Use full name, with a space between first and last
						</div>
					</div>
				</div>	

				<div class="form-group">
					<label for="email">
						Email
					</label>
					<input type="text"
						   class="form-control"
						   id="email"
						   ngControl="email" />
					
					<div *ngIf="form.controls['email'].touched && form.controls['email'].errors">
						<div class="alert alert-danger"
							 *ngIf="form.controls['email'].errors.required">
							Email field must be completed
						</div>
						<div class="alert alert-danger"
							 *ngIf="form.controls['email'].errors.mustBeValidFormat">
							 Email does not have valid format
						</div>
						<div class="alert alert-danger"
							 *ngIf="form.controls['email'].errors.mustBeUnique">
							 Email is already in use
						</div>
					</div>
				</div>

				<div class="form-group">
					<label>
						Phone
					</label>
					<input type="text"
						   class="form-control" />
				</div>

			</fieldset>

			<fieldset>
				<legend>
					Address
				</legend>

				<div class="form-group">
					<label>
						Street
					</label>
					<input type="text"
						   class="form-control" />
				</div>

				<div class="form-group">
					<label>
						City
					</label>
					<input type="text"
						   class="form-control" />
				</div>

				<div class="form-group">
					<label>
						State
					</label>
					<input type="text"
						   class="form-control" />
				</div>

				<div class="form-group">
					<label>
						Zip
					</label>
					<input type="text"
						   class="form-control" />
				</div>
			</fieldset>

			<button class="btn btn-primary"
					[disabled]="!form.valid">
				Submit
			</button>
		</form>
	</div>
</div>